@mixin box-sizing( $type ) {
	-webkit-box-sizing: $type;
	   -moz-box-sizing: $type;
	        box-sizing: $type;
}

@mixin border-radius( $radius ) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition( $values ) {
	-webkit-transition: $values;
	        transition: $values;
}