@import 'mixins';
@import 'media-queries';

$menuHeight:60px;
$menuBackground:#fff;
$menusHorizontalMargin:10px;

$facebookColor:#3B5998;
$google-plusColor:#DD4B39;
$twitterColor:#00ACED;
$linkedinColor:#007BB6;
$instagramColor:#517FA4;
$youtubeColor:#BB0000;

#i9-fsmenu {
	background-color:$menuBackground;
	display:block;
	position: fixed;
	height:$menuHeight;
	@include transition( top 0.4s ease-in-out );
	text-align:center;
	box-shadow: 0 2px 15px;
	top:0;
	left:0;
	right:0;
	z-index:100000;

	.menu-container {
		display: inline-block;
		vertical-align: middle;
		width:100%;
		height: $menuHeight;

		ul { li {
			float:left;
			&:last-child {
				margin-right:0!important;
				border-right:none!important;
			}
		}}

		#fsm-main {
			display:block;
			float:left;
			height:$menuHeight;
			ul {
				display:block;
				height:$menuHeight;
				li {
					display:block;
					height:$menuHeight;
					color:#fff;
					font-weight:300;
					border-right: 1px solid #f1f1f1;

					a {
						line-height:$menuHeight;
						color:#23272C;
						padding:18px;
						font-size:18px;

						&:hover {
							color: #fff;
						}
					}

					&:hover {
						background-color:#71AEDE;
					}
				}
			}
		}

		#fsm-social-menu {
			display:block;
			float:right;
			margin-right:$menusHorizontalMargin;
			height:$menuHeight;
			ul {
				height:$menuHeight;
				li {
					height:$menuHeight;
					margin-right:5px;
					a {
						line-height:$menuHeight;
						font-size:22px;

						i {
							padding:4px 2px;
							@include border-radius(5px);
							&:hover { color:#fff; }
						}
						.fa-facebook { color:$facebookColor; &:hover{ background-color:$facebookColor; } }
						.fa-google-plus { color:$google-plusColor; &:hover{ background-color:$google-plusColor; } }
						.fa-twitter { color:$twitterColor; &:hover{ background-color:$twitterColor; } }
						.fa-linkedin { color:$linkedinColor; &:hover{ background-color:$linkedinColor; } }
						.fa-instagram { color:$instagramColor; &:hover{ background-color:$instagramColor; } }
						.fa-youtube { color:$youtubeColor; &:hover{ background-color:$youtubeColor; } }
					}
				}
			}

			@include screen-size( 100px, 800px ) {
				display:none;
			}
		}
	}

	#fsm-no-menu {
		p {
			color:red;
			font-weight: bold;
			padding:0;
		}
	}
}

.add-top-css {
	top:32px!important;
}

.menu-hidden {
	top:-$menuHeight!important;
	box-shadow:none!important;
}

#i9fsHomeSectionMenu {
	width:100%;
}